<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 stopOnFailure="false"
         cacheResult="false"
		 bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="CurrencyExchange Unit Tests">
            <directory>./</directory>
            <exclude>./Extension</exclude>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="CurrencyExchangeTest\Extension\BypassFinalHook" />
    </extensions>
</phpunit>
